<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createBranchHeader">Create Library Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #createBranchForm="ngForm" (ngSubmit)="createBranch()">
          <label for="branchName">Branch Name</label>
          <input type="text" name="branchName" #branchNameField="ngModel" [(ngModel)]="branchName" required
            minlength="1" maxlength="20"><br />
          <div *ngIf="branchNameField.invalid && (branchNameField.dirty || branchNameField.touched)" class="alert alert-danger">
            <div *ngIf="branchNameField.errors.required || branchNameField.errors.minlength">Branch must have a name.</div>
            <div *ngIf="branchNameField.errors.maxlength">Branch name too long.</div>
          </div>
          <label for="branchAddress">Branch Address</label>
          <textarea name="branchAddress" #branchAddressField="ngModel" [(ngModel)]="branchAddress" required class="form-control"></textarea>
          <div *ngIf="branchAddressField.invalid && (branchAddressField.dirty || branchAddressField.touched)" class="alert alert-danger">
            <div *ngIf="branchAddressField.errors.required">Branch must have an address.</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.dismiss('Close clicked')">Cancel</button>
            <button type="submit" class="btn btn-primary">Create Branch</button>
          </div>
        </form>
      </div>
    </div>
  </div>